.main-page {
  width: 100%;
  height: 100%;

  .icons-block {
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      width: 100%;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 37px;
      text-align: center;

      color: #000000;
    }

    button {
      width: 290px;
      height: 60px;

      margin-top: 30px;
      background: none;
      border: 2px solid #000000;
      box-sizing: border-box;
      border-radius: 1000px;
      font-family: "Montserrat", sans-serif;
      font-size: 1.2em;
    }

    .blocks-holder {
      margin-top: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .icon-block {
        width: 300px;
        margin-top: 15px;

        img {
          width: 75px;
          display: block;
          margin: auto;
        }

        p {
          text-align: center;
        }
      }
    }
  }
  .photo-block {
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    align-items: center;

    @media (max-width: 500px) {
      height: 800px !important;
    }

    .text-block {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media (max-width: 800px) {
        h1 {
          font-size: 24px !important;
          margin-top: 10px;
          font-weight: 400 !important;
        }
        h3 {
          font-size: 35px !important;
          width: 90% !important;
        }
      }
      h3 {
        width: 100%;
        display: block;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 41px;
        text-align: center;

        margin-bottom: 45px;

        color: #ffffff !important;
      }

      h1 {
        width: 100%;
        display: block;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
        text-align: center;

        color: #ffffff !important;
      }
      img {
        width: 200px;
        height: 200px;
      }

      button {
        width: 300px;
        height: 60px;

        border: 0;
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: 1.3em;
        font-weight: 400;

        background: #ffffff;
        box-shadow: 1px 3px 9px rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        margin-top: 40px;
        outline: none;

        &:hover {
          background: #f0efef;
          box-shadow: 1px 3px 9px rgba(231, 231, 231, 0.7);
        }

        &:active {
          background: #ffffff;
          box-shadow: 1px 3px 9px rgba(231, 231, 231, 0.9);
        }
      }
    }
  }

  .brown-block {
    margin-top: 50px;
    width: 100%;
    display: flex;
    padding-top: 70px;
    padding-bottom: 30px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f9f7f2;

    h1 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 49px;
      /* identical to box height */
      text-align: center;

      color: #000000;
    }
    p {
      margin-top: 20px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 29px;
      text-align: center;

      color: #4b4b4b;
    }
  }

  .minbor-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;

    @media (max-width: 600px) {
      .RF {
        width: 290px !important;
        height: 85px !important;
      }
      .WR {
        width: 330px !important;
        height: 130px !important;
      }

      .RS {
        width: 150px !important;
        height: 150px !important;
      }

      .DB {
        width: 270px !important;
        height: 100px !important;
      }
    }

    .RF {
      width: 380px;
      height: 110px;
      object-fit: fill;
    }

    .WR {
      width: 450px;
      height: 170px;
      object-fit: fill;
    }

    .DB {
      width: 350px;
      height: 130px;
      object-fit: fill;
    }
  }
}
